<nav>
  <div class="nav-in">
    <a href="/" class="nlogo">
      <img src="/smartCityLOGO.png" alt="Smart City Logo">
      <div class="nlogo-txt"><strong><%= settings.general.siteName %></strong><span><%= settings.general.universityName %></span></div>
    </a>
    <div class="nlinks">
      <a href="/" class="<%= currentPage === 'home' ? 'act' : '' %>">Accueil</a>
      <a href="/axes" class="<%= currentPage === 'axes' ? 'act' : '' %>">Axes</a>
      <a href="/projets" class="<%= currentPage === 'projets' ? 'act' : '' %>">Projets</a>
      <a href="/formations" class="<%= currentPage === 'formations' ? 'act' : '' %>">Formations</a>
      <a href="/publications" class="<%= currentPage === 'publications' ? 'act' : '' %>">Publications</a>
      <a href="/evenements" class="<%= currentPage === 'events' ? 'act' : '' %>">Événements</a>
    </div>
    <div class="lbs">
      <button class="lb on" onclick="setLang(this, 'fr')">FR</button>
      <button class="lb" onclick="setLang(this, 'en')">EN</button>
      <button class="lb" onclick="setLang(this, 'ar')">AR</button>
    </div>
  </div>
</nav>
